.company-banner {
    background: url("../images/company-culuture-banner.png");
  }

  .about-company-culture {
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    width: 90vw;
  }
  
  .about-company-culture-container {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    font-size: 2.2rem;
    color: var(--color-accent1);
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    width: 80vw;
    padding: 0;
  }
  
  .culture-img {
    /* border: 1px solid black; */
    background: url("../images/culture-img.png");
    background-size: cover;
    height: 46vw;
    width: 36vw;
    flex-grow: 1;
  }
  
  .culture-content {
    width: 50rem;
    padding-bottom: 5rem;
    flex-grow: 1;
    padding-right: 4rem;
  }
  
  .culture-content h2 {
    font-size: 4.4rem;
  }

  .culture-sub-headline {
    font-size: 3.5rem;
  }
  
  @media screen and (max-width: 767px) {
    .culture-content h2 {
      font-size: 2.5rem;
    }
  
    .culture-content p {
      font-size: 1.6rem;
    }
  
    .about-img {
      height: 32rem;
    }
  }
  
  /* @media screen and (max-width: 1379px) {
    .culture-content {
      padding: 10px;
    }
  } */
  