.key-figures {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.key-fig-header {
  width: 80vw;
  color: black;
  /* padding-left: 10vw; */
  margin: 20px 0;
  font-size: 2.2rem;
}

.key-fig-sub-title {
  color: #083e89;
  font-weight: bold;
  margin-bottom: 10px;
}

.key-fig-headline {
  font-size: 3.5rem;
}

.key-fig-headline span {
  font-weight: bold;
}

.key-fig-title {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.key-figure p {
  width: 90%;
}

@media screen and (max-width: 480px) {
  .key-fig-header {
    font-size: 1.6rem;
  }
  .key-fig-headline {
    font-size: 2rem;
  }

  .key-fig-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .key-fig-header {
    font-size: 1.8rem;
  }
  .key-fig-headline {
    font-size: 2.5rem;
  }

  .key-fig-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.key-figures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem 5rem;
  width: 90vw;
}

.key-figure {
  width: 27rem;
  height: 30rem;
  background-color: rgba(13, 51, 101, 0.86);
  border-radius: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.2rem;
  box-shadow: 5px 5px 20px black;
  /* padding: 10px; */
  text-align: center;
}

.key-fig {
  font-size: 5.5rem;
}

@media screen and (max-width: 590px) {
  .key-figures-container {
    gap: 2.5rem 2.5rem;
  }
  .key-figure {
    width: 13rem;
    height: 16rem;
    border-radius: 20px 0 20px 0;
    font-size: 1.6rem;
    /* margin: 15px; */
  }
  .key-fig {
    font-size: 2.5rem;
  }
}
