<section class="about-us">
  <div class="about-us-container">
    <div class="about-us-content">
      <h3>Lorem, ipsum dolor.</h3>
      <p class="about-headline">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
        fugiat suscipit? Libero magnam cumque at quibusdam quod magni quae velit
        soluta facere, veniam temporibus est atque odit dignissimos in,
        recusandae accusamus ipsa sit, id cupiditate quasi? Enim laboriosam
        nihil corrupti ipsam sit, a dolor optio ut quibusdam, voluptatem nulla
        adipisci!
      </p>
    </div>
    <div class="about-img"></div>
  </div>
</section>
