<section class="about-banner">
  <div class="about-banner-headline">
    <h1>关于 REDACACIA</h1>
  </div>
  <div class="about-btn-mobile">
    <ul>
      <li class="company-profile">&#62; Company Profile</li>
      <li>&#62; Company Culture</li>
      <li>&#62; Sustainability</li>
    </ul>
  </div>

  <div class="banner-btn-container">
    <button class="btn company-profile-btn about-btn">Company Profile</button>

    <button class="btn btn-transparent about-btn">Company Culture</button>

    <button class="btn btn-transparent about-btn">Sustainability</button>
  </div>
</section>
