<section class="key-figures">
    <div class="key-fig-header">
      <p class="key-fig-sub-title">Lorem ipsum dolor sit amet.</p>

      <p class="key-fig-headline">
        <span>Lorem ipsum dolor sit</span> amet consectetur adipisicing elit.
        Provident perferendis ratione,
      </p>
      <p class="key-fig-sub-headline">
        fuga distinctio minus exercitationem unde harum in voluptates adipisci
        doloribus fugit aliquam odit aperiam,
      </p>
      <h2 class="key-fig-title">Key figures</h2>
    </div>
    <div class="key-figures-container">
      <div class="key-figure">
        <p><span class="key-fig">5</span> lorem</p>
        <p>Lorem ipsum dolor</p>
      </div>

      <div class="key-figure">
        <p><span class="key-fig">5</span> lorem</p>
        <p>Lorem ipsum dolor</p>
      </div>

      <div class="key-figure">
        <p><span class="key-fig">5</span> lorem</p>
        <p>Lorem ipsum dolor</p>
      </div>

      <div class="key-figure">
        <p><span class="key-fig">5</span> lorem</p>
        <p>Lorem ipsum dolor</p>
      </div>
    </div>
  </section>