
    <!--  ###############################nav bar #################################-->
    <script src="https://kit.fontawesome.com/82f797382f.js" crossorigin="anonymous"></script> 
    <nav class="navbar">
      <div class="logo_header">
        <a href="#"><img src="images/image.png" alt=""></a>
        <button class="navbar_toggle">
          <i class="fas fa-bars"></i>
        </button> 
      </div>
      <ul class="main_nav">
        <li><a href="#" class="nav_links">Home</a></li>
        <li><a href="#" class="nav_links">Products</a></li>
        <li><a href="#" class="nav_links">About</a></li>
        <li><a href="#" class="nav_links">Contact</a></li>
      </ul>
    </nav>
    <script src="js/main.js"></script>  
    <!--  ##################################nav bar #################################-->
