<section class="product-home">
    <div class="product-header">
    <h2>Discover our Products</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum iusto nihil obcaecati enim voluptatem quidem officia, asperiores doloremque laudantium veniam molestiae aspernatur dignissimos fugit odit, expedita repellendus quas repudiandae velit a cum animi? Ipsa quis at quidem dolor beatae optio atque in amet fugit voluptas. Consectetur quisquam error eius perspiciatis.</p>
  </div>
    <div class="card-container">
      <div class="card card-1">
      <div class="card-bg">
      <div class="product-intro">
        <h3>Gypsum Papers</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          maiores facilis reiciendis est minus
        </p>
        <button class="btn btn-transparent btn-product-card">Read More</button>
      </div>
      <h3 class="card-title">Gypsum Papers</h3>
    </div>
    </div>

    <div class="card card-2">
      <div class="card-bg">
      <div class="product-intro">
        <h3>Gypsum Papers</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          maiores facilis reiciendis est minus
        </p>
        <button class="btn btn-transparent btn-product-card">Read More</button>
      </div>
      <h3 class="card-title">Gypsum Papers</h3>
    </div>
    </div>

    <div class="card card-3">
      <div class="card-bg">
      <div class="product-intro">
        <h3>Gypsum Papers</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          maiores facilis reiciendis est minus
        </p>
        <button class="btn btn-transparent btn-product-card">Read More</button>
      </div>
      <h3 class="card-title">Gypsum Papers</h3>
    </div>
    </div>

    <div class="card card-4">
      <div class="card-bg">
      <div class="product-intro">
        <h3>Gypsum Papers</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          maiores facilis reiciendis est minus
        </p>
        <button class="btn btn-transparent btn-product-card">Read More</button>
      </div>
      <h3 class="card-title">Gypsum Papers</h3>
    </div>
    </div>
  </div>
  </section>
