<section class="sales-home">
    <div class="sales-home-container">
      <div class="sales-home-text-container">
          <p class="sales-home-sub-headline">sound sales service</p>
          
          <div class="sales-home-text">
            <div class="sales-home-line"></div>
            <div class="sales-home-inner-text">
            <h2>A Sound Sale Service System</h2>
            <p>
            or lipsum as it is sometimes known, is dummy text used in laying
            out print, graphic or sometimes known, is dummy text used in laying
          </p>
        </div>
        </div>
        <button class="btn-custom btn-custom-transparent">get in touch</button>
         
      </div>
        <img class="image" src="images/sales-home.png" />        
    </div>
  </section>