<section class="vision-about">
  <div class="vision-card-contanier">
    <div class="vision-card">
      <img src="images/mission-icon.svg" alt="" />
      <h3>Our Mission</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maxime
        necessitatibus ab
      </p>
    </div>

    <div class="vision-card">
      <img src="images/vision-icon.svg" alt="" />
      <h3>Our Vision</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maxime
        necessitatibus ab
      </p>
    </div>

    <div class="vision-card">
      <img src="images/value-icon.svg" alt="" />
      <h3>Core Values</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat maxime
        necessitatibus ab
      </p>
    </div>
  </div>
</section>
