<section class="why-us">
    <h2>Why Choose Redacacia</h2>
    
    <div class="why-us-container">
      <div class="why-us-col">
        <img src="/images/Path 30.svg" />
        <div cl<h3>efficent logistic</h3></div>
    
        <p>
          typesetting Lorem Ipsum has been the industry's standard dummy text
          ever since the 1500
        </p>
      </div>
      <div class="column">
        <img src="/images/Path 54.svg" />
        <div class="p2"><p2>efficent logistic</p2></div>
        <p>
          typesetting Lorem Ipsum has been the industry's standard dummy text
          ever since the 1500
        </p>
      </div>
      <div class="column">
        <img src="/images/2181286_global_loan_money_pawnshop_cash_icon.svg" />
        <div class="p2"><p2>efficent logistic</p2></div>
        <p>
          typesetting Lorem Ipsum has been the industry's standard dummy text
          ever since the 1500
        </p>
      </div>
    </div>
    </section>